body {
        background-color: black;
      }
      .nav-color {
        background: #ff9a00;
        background: linear-gradient(
          359deg,
          rgba(255, 154, 0, 1) 0%,
          rgba(255, 115, 0, 1) 50%,
          rgba(255, 77, 0, 1) 100%
        );
      }
      .active-item {
        background: #ff9a00;
        background: linear-gradient(
          359deg,
          rgba(255, 154, 0, 1) 0%,
          rgba(255, 115, 0, 1) 50%,
          rgba(255, 77, 0, 1) 100%
        );
        border: none;
      }
      .transparent-color {
        background-color: rgba(255, 255, 255, 0);
      }
      .basket-color {
        background-color: #bebebe;
      }
      .seat-color {
        background-color: #ff4d00;
      }
      .beverage-color {
        background-color: orange;
      }